

.navbar-lighttwo {
background-color:  rgb(252, 191, 187,0.6);  /* rgb(252, 224, 187,0.6); */  /* purple rgb(221, 168, 247,0.6);*/
color :white;

}

.bg-lighttwo {
background-color: /*rgb(221, 168, 247,0.6); */
}

.centeredstuff {

  text-align: center;
}

body {
  padding-top: 74px;
  margin: 0 auto; /*this will cause the div to be in the center*/
}
